*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-size: 62.5%;
}
.container{
    display: flex;
}
@font-face {
    font-family: "Fira Sans";
    src: url('fonts/fira/eot/FiraSans-Regular.eot');
    src:url('fonts/fira/eot/FiraSans-Regular.eot') format('embedded-opentype'),
        url('fonts/fira/woff2/FiraSans-Regular.woff2') format('woff2'),
        url('fonts/fira/woff/FiraSans-Regular.woff') format('woff'),
        url('fonts/fira/woff2/FiraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#sidebar{
    display: flex;
    position: relative;
    justify-content: flex-start;
    width: 330px;
    margin: 0 auto;
    min-height: 700px;
    margin-left: 100px;
    border-radius: 10px;
    background-image: url(https://images.unsplash.com/photo-1585202900154-cf66e657d8d6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDExfHx8ZW58MHx8fHx8)
}
#caption{
    background-color: rgba(50, 80, 80, 0.5);
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    margin-top: 13rem;
    position: absolute;
    gap: 5px;
}
img{
    object-fit: cover;
    height: 100%;
    mix-blend-mode: inherit;
}
#logo-name{
    font-family: "Fira Sans" 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#part-one{
    min-height: 23rem;
    background-color: lightgrey;
    max-width: 47rem;
}
#p-one{
    font-size: large;
    font-weight: 100;
    padding: 6rem 1.5rem;
}
#p-two{
    font-size: large;
    font-weight: 100;
    padding-left: 1.5rem;
    padding-bottom: 0.5rem
}
#part-two{
    max-width: 47rem;
    min-height: 25.5rem;
    background-color: aliceblue;
}
h2{
    padding-top: 0.7rem;
    padding-left: 1.5rem;
    padding-bottom: 0.9rem;
}
input:focus{
    border-color: red;
    box-shadow: 1.5rem;
}
ul>*{
    display:inline-block;
    box-sizing: border-box;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
}
ul>*:focus{
    border-color: blue
    ;
}
#first-name{
    max-width: 23.5rem;
}
#last-name{
    display: block;
}
#email{
    max-width: 23rem;
}
#phone-number{
    max-width: 23.5rem;
}
#password{
    border-color: #ff7f7f;
    display: block;
}
.error{
    color: red;
}
#password-confirm{
    border-color: #ff7f7f;
    margin-bottom: 2.5rem;
}
#last-part{
    background-color: whitesmoke;
    height: 20rem;
    max-width: 47rem;
}
#last-part>*{
    padding-left: 1.5rem;
}
#create{
    background-color: #596D48;
    color: white;
    border-radius: 0.7rem;
    border-color: whitesmoke;
    padding: 0.7rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}